@font-face {
  font-family: 'BrandonText-Regular';
  src: url(../fonts/BrandonText-Regular.eot);
  src: url(../fonts/BrandonText-Regular.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'BrandonText-Bold';
  src: url(../fonts/BrandonText-Bold.eot);
  src: url(../fonts/BrandonText-Bold.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'iCielBrawls1';
  src: url(../fonts/iCielBrawls1-2.eot);
  src: url(../fonts/iCielBrawls1-2.ttf) format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'SamsungOne';
  src: url(../fonts/SamsungOne-400.eot);
  src: url(../fonts/SamsungOne-400.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SamsungOne';
  src: url(../fonts/SamsungOne-200.eot);
  src: url(../fonts/SamsungOne-200.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
html, body {
  font-family: 'BrandonText-Bold';
  width: 100%;
  overflow-x: hidden;
  margin: 0 0 0 0;
  padding: 0; }

.header {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1000;
  height: 100px;
  white-space: nowrap; }
  @media (max-width: 599px) {
    .header {
      display: none; } }
  .header .logo {
    float: left;
    position: relative;
    margin: 24px 0 0 120px;
    display: inline-block;
    width: 15%; }
    @media (max-width: 1439px) {
      .header .logo {
        margin-left: 80px; } }
  .header .org {
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding-right: 3px;
    width: 10%; }
  .header .top-nav {
    text-align: left;
    display: inline-block;
    padding-left: 134px;
    margin: 0 0 0 0;
    width: 75%;
    letter-spacing: -1px; }
    @media (max-width: 1439px) {
      .header .top-nav {
        padding-left: 2%; } }
    .header .top-nav li {
      color: black;
      display: inline-block;
      position: relative; }
      .header .top-nav li a {
        display: block;
        font-weight: 700;
        color: black;
        padding-right: 20px;
        padding-top: 41px;
        padding-bottom: 41px;
        padding-left: 20px;
        text-decoration: none; }
      .header .top-nav li :hover {
        background: transparent;
        color: #e95154; }
    .header .top-nav .mechanic {
      margin-left: 3px; }
    .header .top-nav .jury-nav {
      margin-left: -3px; }
    .header .top-nav .archive {
      margin-left: -1px; }
    .header .top-nav .partners {
      margin-left: 5px; }
    .header .top-nav .news {
      margin-left: 3px; }
    .header .top-nav .register {
      margin-left: 12px; }
    .header .top-nav .active {
      color: white;
      background: #e95154; }
      .header .top-nav .active a {
        color: white; }
      .header .top-nav .active :hover {
        color: white;
        background: #e95154; }

.banner {
  margin-top: 100px;
  background-image: url("../img/banner.png");
  background-size: 100% 100%;
  height: 250px; }
  @media (min-width: 1800px) {
    .banner {
      height: 350px; } }
  @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
    .banner {
      height: 250px; } }
  @media (max-width: 599px) {
    .banner {
      margin-top: 20px;
      height: 180px; } }

.banner-content {
  padding-top: 36px;
  margin-left: -17px;
  text-align: center; }
  @media (min-width: 1800px) {
    .banner-content {
      padding-top: 60px; } }
  .banner-content h1 {
    font-family: "iCielBrawls1";
    color: white;
    font-size: 50px;
    letter-spacing: -2px;
    margin-bottom: 0px;
    text-indent: 18px; }
    @media (min-width: 1800px) {
      .banner-content h1 {
        font-size: 50px; } }
    @media (max-width: 599px) {
      .banner-content h1 {
        font-size: 30px; } }
  .banner-content h2 {
    font-family: "BrandonText-Regular";
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-top: 7px;
    padding-left: 22px; }
    @media (min-width: 1800px) {
      .banner-content h2 {
        font-size: 30px; } }
    @media (max-width: 599px) {
      .banner-content h2 {
        font-size: 13px; } }

.award-wrapper {
  margin: 0 auto;
  width: 430px; }
  @media (max-width: 599px) {
    .award-wrapper {
      width: 250px; } }

#thecup img {
  margin-left: auto;
  margin-right: auto;
  display: block; }

#awardteam {
  position: absolute;
  top: 176px;
  height: 430px;
  width: 430px;
  outline: solid 12px #e95154;
  z-index: -1; }
  @media (max-width: 599px) {
    #awardteam {
      height: 250px;
      width: 250px; } }

.gold {
  color: #dcba1a; }

.silver {
  color: #a0a0a0; }

.bronze {
  color: #bd8769; }

#teamsilver {
  margin-top: 44px;
  margin-bottom: 44px; }

.team-info {
  text-align: center;
  margin-top: 93px; }
  @media (max-width: 599px) {
    .team-info {
      margin-top: 50px; } }
  .team-info h3 {
    font-family: 'iCielBrawls1';
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px; }
    @media (min-width: 1800px) {
      .team-info h3 {
        font-size: 30px; } }
    @media (max-width: 599px) {
      .team-info h3 {
        font-size: 20px;
        margin-top: 0px; } }
  .team-info h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px; }
    @media (max-width: 599px) {
      .team-info h4 {
        margin-top: 0px;
        font-size: 12px; } }

.team-detail {
  margin-bottom: 30px; }

.shortlist {
  margin-top: 443px;
  margin-left: 12px;
  text-align: center; }
  @media (min-width: 1800px) {
    .shortlist {
      margin-top: 20%; } }
  @media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
    .shortlist {
      margin-top: 35%; } }
  @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
    .shortlist {
      margin-top: 45%; } }
  @media (max-width: 599px) {
    .shortlist {
      margin-top: 70%; } }

.shortlist-wrapper {
  margin: 0 auto; }

#shortlist-title {
  width: 20%;
  margin: 0 auto;
  white-space: nowrap;
  position: relative; }
  #shortlist-title h3 {
    text-align: center;
    font-family: 'iCielBrawls1';
    color: #e95154;
    font-size: 36px;
    padding-bottom: 0px;
    margin-bottom: 0px; }

#shortlist-title:after {
  content: '';
  width: 90%;
  position: absolute;
  bottom: 2px;
  border: #e95154 1px solid;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%); }

#shortlist-teams {
  padding-top: 30px;
  margin-left: -14px; }
  #shortlist-teams .shorteaminfo {
    margin-bottom: 20px; }
    #shortlist-teams .shorteaminfo h4 {
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1; }
      @media (min-width: 1800px) {
        #shortlist-teams .shorteaminfo h4 {
          font-size: 23px; } }
    #shortlist-teams .shorteaminfo p {
      font-family: 'BrandonText-Regular';
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0; }
      @media (min-width: 1800px) {
        #shortlist-teams .shorteaminfo p {
          font-size: 20px; } }

.footer {
  background-color: #464646;
  color: white;
  font-family: 'BrandonText-Regular';
  height: 400px; }
  .footer .container {
    width: 86%;
    display: inline-block;
    position: relative;
    padding-top: 37px;
    padding-bottom: 77px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .footer .container .footer-item {
      float: left;
      display: inline-block;
      width: 33.33333%; }
    .footer .container .edge {
      width: 25%; }
    .footer .container .middle {
      width: 50%; }
  .footer hr {
    width: 90%; }
  .footer .representatives {
    text-align: center;
    margin-left: 81px;
    margin-right: 80px;
    margin-top: 37px; }
    .footer .representatives p {
      font-size: 20px;
      line-height: 0; }
    .footer .representatives img {
      margin-right: 10px;
      margin-left: 10px;
      max-height: 39px;
      max-width: auto;
      width: auto;
      height: auto; }
      @media (min-width: 1800px) {
        .footer .representatives img {
          max-width: 180px; } }
      @media (max-width: 599px) {
        .footer .representatives img {
          max-width: 110px; } }
    .footer .representatives .representatives-logo {
      margin-top: 23px; }

.contact {
  margin-left: 113px; }
  .contact h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: -5px; }
  .contact p {
    font-size: 18px; }
    @media (min-width: 1800px) {
      .contact p {
        font-size: 20px; } }
    @media (max-width: 599px) {
      .contact p {
        font-size: 11px; } }
  .contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 24px; }
    .contact ul li {
      font-size: 18px; }

.phone-break {
  display: none; }
  @media (max-width: 599px) {
    .phone-break {
      display: block; } }

.follow {
  padding-right: 17px;
  text-align: right;
  white-space: nowrap; }
  .follow .follow-link {
    margin-top: -21px; }
  .follow h4 {
    font-size: 22px;
    font-weight: bold; }
    @media (min-width: 1800px) {
      .follow h4 {
        font-size: 30px; } }
    @media (max-width: 599px) {
      .follow h4 {
        font-size: 15px; } }
  .follow .facebook-link, .follow .web-link {
    display: inline-block;
    margin-right: 36px; }
    @media (min-width: 1800px) {
      .follow .facebook-link, .follow .web-link {
        width: 150px; } }
    @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
      .follow .facebook-link, .follow .web-link {
        display: block !important;
        width: auto;
        margin-top: 15px; } }
    @media (max-width: 599px) {
      .follow .facebook-link, .follow .web-link {
        display: block !important;
        width: auto;
        margin-top: 15px;
        margin-left: 15px; } }
    .follow .facebook-link span, .follow .web-link span {
      margin: 0 0 0 0;
      vertical-align: middle;
      font-size: 18px;
      color: white;
      display: inline-block;
      margin-right: -9px;
      margin-top: -28px; }
      .follow .facebook-link span :hover, .follow .web-link span :hover {
        color: white; }
      @media (min-width: 1800px) {
        .follow .facebook-link span, .follow .web-link span {
          font-size: 20px; } }
      @media (max-width: 599px) {
        .follow .facebook-link span, .follow .web-link span {
          display: none; } }
    @media (min-width: 1800px) {
      .follow .facebook-link h4, .follow .web-link h4 {
        font-size: 30px; } }
    .follow .facebook-link img, .follow .web-link img {
      margin-right: 6px; }
  .follow .web-link {
    margin-right: 10px; }

.organized {
  margin-left: 19px; }
  .organized h4 {
    font-size: 22px;
    font-weight: bold; }
    @media (min-width: 1800px) {
      .organized h4 {
        font-size: 30px; } }
    @media (max-width: 599px) {
      .organized h4 {
        font-size: 15px; } }
  .organized img {
    max-height: auto;
    width: auto;
    height: auto;
    margin-top: -12px; }
    @media (min-width: 1800px) {
      .organized img {
        max-width: 200px; } }
    @media (max-width: 599px) {
      .organized img {
        max-width: 85px; } }

.side-nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  cursor: pointer; }
  .side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .side-nav ul li {
      height: 60px;
      width: 60px;
      background-color: white;
      position: relative;
      border: solid 1px white;
      color: white;
      font-size: 11px;
      text-align: center; }
      .side-nav ul li img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%); }
      .side-nav ul li span {
        position: absolute;
        top: 0;
        top: 34px;
        left: 50%;
        transform: translateX(-50%); }
    .side-nav ul li.active {
      background-color: #e95154;
      border: solid 1px #e95154; }
    .side-nav ul li.active:hover {
      border: solid 1px white; }
    .side-nav ul li.special img {
      top: 35%;
      left: 55%; }
    .side-nav ul li:hover {
      border: solid 1px #e95154; }

.big-slider {
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  height: 800px; }
  .big-slider .controler {
    z-index: 5;
    position: absolute;
    left: 50%;
    height: 800px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .big-slider .controler .btnprev, .big-slider .controler .btnnext {
      display: inline-block;
      position: relative;
      float: left;
      opacity: 0;
      height: 100%;
      width: 50px; }
    .big-slider .controler .btnnext {
      float: right; }
  .big-slider .btnprev {
    z-index: 5;
    position: absolute;
    left: 0;
    height: 800px;
    width: 50px;
    background: white;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, black, white);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(right, black, white);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, black, white);
    /*Fx 3.6-15*/
    background: linear-gradient(to right, black, white);
    /*Standard*/
    opacity: 0;
    padding: 0;
    border: none; }
  .big-slider .btnprev:hover {
    opacity: 0.2; }
  .big-slider .btnnext {
    z-index: 5;
    position: absolute;
    right: 0;
    height: 800px;
    width: 50px;
    background: white;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, black, white);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(left, black, white);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, black, white);
    /*Fx 3.6-15*/
    background: linear-gradient(to left, black, white);
    /*Standard*/
    opacity: 0;
    padding: 0;
    border: none; }
  .big-slider .btnnext:hover {
    opacity: 0.2; }
  .big-slider ol {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    margin-top: 750px; }
    .big-slider ol li {
      display: inline-block;
      height: 21px;
      width: 21px;
      background-image: url(../img/prevbtn.png);
      background-size: 100% 100%;
      cursor: pointer;
      margin-left: 8px;
      margin-right: 8px; }
    .big-slider ol li.active {
      background-image: url(../img/nextbtn.png); }
  .big-slider .main-slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left; }
    .big-slider .main-slider .slide {
      position: absolute;
      width: 100%; }
      .big-slider .main-slider .slide .poster {
        float: left;
        width: 50%; }
        .big-slider .main-slider .slide .poster img {
          width: 100%;
          height: 800px; }
      .big-slider .main-slider .slide .youtube {
        float: left;
        width: 50%;
        position: relative; }
        .big-slider .main-slider .slide .youtube .youtube-preview-img img {
          width: 100%;
          height: 800px; }
        .big-slider .main-slider .slide .youtube .youtubepopup {
          cursor: pointer;
          left: 50%;
          top: 50%;
          height: 127px;
          width: 127px;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          position: absolute;
          background-image: url(../img/play-btn.png);
          background-size: 100% 100%; }
        .big-slider .main-slider .slide .youtube .youtubepopup:hover {
          background-image: url(../img/play-btn-red.png); }
  .big-slider #slider img {
    width: 940px;
    height: 350px; }
  .big-slider #prev, .big-slider #next {
    float: left;
    margin-top: 150px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    height: 50px;
    opacity: 0.8; }
  .big-slider #next {
    margin-left: -45px; }
  .big-slider #prev {
    margin-right: -45px; }
  .big-slider .slide-copy {
    width: 940px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: black;
    background: rgba(0, 0, 0, 0.5); }

h2 span {
  color: #e95154; }

.four-thing h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'iCielBrawls1';
  white-space: nowrap;
  letter-spacing: -2px;
  margin-top: 57px; }
.four-thing .four-thing-item {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0;
  width: 25%;
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: -12px;
  text-align: center; }
  .four-thing .four-thing-item img {
    width: 360px;
    height: 360px;
    max-width: 100%;
    max-height: 100%; }
  .four-thing .four-thing-item .gif-img {
    display: none; }
.four-thing .four-thing-item:hover .png-img {
  display: none; }
.four-thing .four-thing-item:hover .gif-img {
  display: block; }
.four-thing .row {
  margin-top: 96px; }
.four-thing .four-thing-container {
  display: inline-block;
  margin-top: 51px;
  position: relative;
  margin-bottom: 6px;
  width: 100%; }

.previous-winner {
  height: 700px;
  background-color: #eeeeee;
  position: relative; }
  .previous-winner h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'iCielBrawls1';
    white-space: nowrap;
    letter-spacing: -2px;
    margin-top: 0;
    padding-top: 93px; }
  .previous-winner .row {
    padding-left: 75px;
    padding-right: 75px;
    margin: 0 auto;
    padding-top: 85px; }
  .previous-winner .previous-winner-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
    padding-top: 50px;
    display: inline-block;
    position: relative;
    width: 87%; }
  .previous-winner .winner-item {
    padding: 0;
    margin: 0 0 0 0;
    display: inline-block;
    position: relative;
    float: left;
    width: 33.33333%; }
    .previous-winner .winner-item img {
      display: block;
      margin: 0 auto; }

.mile-stone {
  height: 1095px;
  position: relative; }
  .mile-stone h2 {
    margin-top: 50px;
    font-family: 'iCielBrawls1';
    font-size: 50px;
    text-align: center;
    margin-top: 110px;
    letter-spacing: -2px;
    line-height: 0; }
  .mile-stone p {
    text-align: center;
    font-family: 'BrandonText-Regular';
    font-size: 20px;
    line-height: 24px;
    margin-top: -5px; }
  .mile-stone .mile-stone-line {
    position: absolute;
    top: 6%;
    margin: 0 auto;
    width: 1223px;
    height: 881px;
    background-image: url(../img/milebg.png);
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .mile-stone .mile-stone-line ul {
      padding-left: 168px;
      padding-top: 118px; }
      .mile-stone .mile-stone-line ul li {
        position: relative;
        height: 255px;
        width: 315px;
        display: inline-block;
        margin-bottom: 73px;
        cursor: pointer; }
        .mile-stone .mile-stone-line ul li img {
          position: absolute; }
        .mile-stone .mile-stone-line ul li .extra-info {
          height: 150px;
          width: 150px;
          background: #eeeeee;
          border: solid 2px #e95154;
          position: absolute;
          left: -55%;
          display: none; }
          .mile-stone .mile-stone-line ul li .extra-info p {
            font-size: 14px; }
        .mile-stone .mile-stone-line ul li .extra2 {
          left: -40%; }
        .mile-stone .mile-stone-line ul li .extra1 {
          left: -46%; }
        .mile-stone .mile-stone-line ul li .extra4 {
          left: -40%; }
        .mile-stone .mile-stone-line ul li .extra5 {
          left: -38%; }
        .mile-stone .mile-stone-line ul li .extra6 {
          left: -28%; }
      .mile-stone .mile-stone-line ul li:hover .extra-info {
        display: block; }
      .mile-stone .mile-stone-line ul .mile2 {
        margin-left: 12px; }
      .mile-stone .mile-stone-line ul .mile1 {
        margin-left: 71px; }
      .mile-stone .mile-stone-line ul .mile4 {
        margin-left: -42px; }
      .mile-stone .mile-stone-line ul .mile5 {
        margin-left: 47px; }
      .mile-stone .mile-stone-line ul .mile6 {
        margin-left: 23px; }
  .mile-stone .for-more-info {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .mile-stone .for-more-info p {
      padding-top: 6px; }
    .mile-stone .for-more-info .direct-regis {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      width: 700px;
      display: inline-block;
      margin-top: 5px;
      text-align: center; }
      .mile-stone .for-more-info .direct-regis p {
        display: inline-block;
        margin-right: 10px; }

.viewmore-button {
  font-size: 22px;
  text-align: center;
  color: white;
  background: #e95154;
  display: inline-block;
  padding: 16px 32px;
  cursor: pointer;
  position: relative;
  letter-spacing: 0px; }

.viewmore-button:after {
  content: '';
  border: 2px solid #e95154;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 97%;
  height: 90%;
  transition: all 0.1s ease-in-out; }

.viewmore-button:hover:after {
  top: 0px;
  left: 0px; }

.viewmore-button:focus,
.viewmore-button:active {
  background: #e95154;
  color: #e95154; }

.viewmore-button + .viewmore-button {
  margin-left: 25px; }

.join-us {
  position: relative;
  width: 100%;
  height: 550px;
  padding: 0;
  margin: 0 0 0 0;
  display: inline-block;
  margin-top: -30px; }
  .join-us .join-us-container {
    display: inline-block;
    position: relative;
    width: 100%; }
    .join-us .join-us-container .frame {
      padding: 0;
      margin: 0 0 0 0;
      position: relative;
      display: inline-block;
      float: left;
      width: 50%;
      height: 550px;
      position: relative; }
      .join-us .join-us-container .frame img {
        height: 550px;
        width: 100%; }
      .join-us .join-us-container .frame .shame-frame, .join-us .join-us-container .frame .fame-frame {
        position: absolute;
        width: 100%; }
      .join-us .join-us-container .frame .shame-frame {
        z-index: 1; }
      .join-us .join-us-container .frame .shame-frame.hide {
        display: none; }
      .join-us .join-us-container .frame .fame-frame {
        float: left; }
      .join-us .join-us-container .frame .fame-frame.appear {
        display: block; }
    .join-us .join-us-container .join-us-state {
      padding: 0;
      margin: 0 0 0 0;
      background-image: url(../img/joinusbg.png);
      background-size: 100% 100%;
      height: 550px;
      color: white;
      position: relative;
      display: inline-block;
      float: left;
      width: 50%; }
      .join-us .join-us-container .join-us-state .join-us-content-container {
        left: 15%;
        position: relative; }
        .join-us .join-us-container .join-us-state .join-us-content-container .join-us-content {
          margin-top: 70px;
          position: relative; }
          .join-us .join-us-container .join-us-state .join-us-content-container .join-us-content .jonfb {
            position: absolute;
            margin: 0 0 0 0;
            font-size: 27px;
            line-height: 30px; }
          .join-us .join-us-container .join-us-state .join-us-content-container .join-us-content .feel {
            position: absolute;
            margin: 0 0 0 0;
            font-family: 'iCielBrawls1';
            font-size: 163px;
            margin-top: 36px; }
          .join-us .join-us-container .join-us-state .join-us-content-container .join-us-content .the {
            position: absolute;
            margin: 0 0 0 0;
            font-family: 'iCielBrawls1';
            font-size: 45px;
            margin-top: 177px; }
          .join-us .join-us-container .join-us-state .join-us-content-container .join-us-content .win {
            position: absolute;
            margin: 0 0 0 0;
            font-family: 'iCielBrawls1';
            font-size: 147px;
            margin-top: 153px;
            margin-left: 73px; }
          .join-us .join-us-container .join-us-state .join-us-content-container .join-us-content .slogan {
            position: absolute;
            margin: 0 0 0 0;
            font-size: 20px;
            margin-top: 295px;
            margin-left: -4px; }
        .join-us .join-us-container .join-us-state .join-us-content-container .viewmore-button {
          margin-top: 350px;
          color: #e95154;
          background: white;
          padding: 16px 24px; }
        .join-us .join-us-container .join-us-state .join-us-content-container .viewmore-button:after {
          border: 2px solid white;
          width: 98%;
          height: 93%; }
        .join-us .join-us-container .join-us-state .join-us-content-container .viewmore-button:focus,
        .join-us .join-us-container .join-us-state .join-us-content-container .viewmore-button:active {
          background: white; }

.jury {
  height: 1866px;
  width: 100%;
  background-color: #eeeeee;
  display: inline-block;
  margin-top: -9px; }
  .jury .jury-title {
    width: 70%;
    padding-left: 40px;
    padding-top: 59px;
    padding-bottom: 90px; }
    .jury .jury-title h2 {
      font-size: 50px;
      font-family: 'iCielBrawls1';
      letter-spacing: -2px;
      margin-bottom: 12px; }
    .jury .jury-title p {
      margin-left: -6px;
      margin-top: 12px;
      line-height: 25px;
      font-size: 20px;
      font-family: 'BrandonText-Regular'; }
  .jury .left-jury-container,
  .jury .right-jury-container {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 50%;
    float: left; }
  .jury .left-jury,
  .jury .right-jury {
    display: inline-block;
    padding-top: 100px; }
  .jury .left-jury {
    padding-right: 15px;
    position: absolute;
    right: 0; }
  .jury .right-jury {
    padding-left: 15px;
    position: absolute;
    left: 0; }
  .jury .jury-item {
    position: relative;
    height: 645px;
    width: 564px;
    background-color: white;
    border: 5px solid #e95154;
    margin-bottom: 37px; }
    .jury .jury-item .jury-img img {
      max-width: 100%;
      max-height: 100%; }
    .jury .jury-item .jury-info {
      top: 50%;
      z-index: 2;
      background: white;
      margin: 0 auto;
      padding-top: 2px;
      padding-left: 39px;
      padding-right: 20px;
      position: absolute;
      height: 320px;
      overflow: hidden; }
      .jury .jury-item .jury-info h3 {
        font-size: 30px;
        font-family: 'BrandonText-Bold';
        color: #e95154;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 40px; }
      .jury .jury-item .jury-info h4 {
        margin-top: -26px;
        font-size: 20px;
        font-family: 'BrandonText-Regular';
        text-transform: uppercase; }
      .jury .jury-item .jury-info .jury-desc {
        margin-top: -3px; }
        .jury .jury-item .jury-info .jury-desc p {
          font-size: 20px;
          font-family: 'BrandonText-Regular';
          line-height: 25px; }
        .jury .jury-item .jury-info .jury-desc .jury-desc-full {
          display: none; }
    .jury .jury-item .more-info {
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      height: 37px;
      width: 76px;
      background-image: url(../img/moreinfo.png);
      bottom: -5px;
      z-index: 100;
      background-color: transparent;
      border: none !important;
      outline: none; }
    .jury .jury-item .more-info:active {
      border: none !important;
      outline: none; }
    .jury .jury-item .less-info {
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      height: 37px;
      width: 76px;
      background-image: url(../img/lessinfo.png);
      bottom: -5px;
      z-index: 100;
      display: none;
      background-color: transparent;
      border: none !important;
      outline: none; }
    .jury .jury-item .less-info:active {
      border: none !important;
      outline: none; }
    .jury .jury-item .more-info.hide {
      display: none; }
    .jury .jury-item .less-info.appear {
      display: block; }
  .jury .jury-item:after {
    content: '';
    border-right: 5px solid #e95154;
    border-bottom: 5px solid #e95154;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%; }

.archive h2 {
  font-family: 'iCielBrawls1';
  font-size: 50px;
  text-align: center;
  margin-top: 57px;
  letter-spacing: -2px; }
.archive p {
  margin-top: -32px;
  text-align: center;
  font-family: 'BrandonText-Regular';
  font-size: 20px;
  line-height: 24px;
  margin-left: 4px; }
.archive .tabs-wrapper {
  padding-top: 47px;
  height: 628px; }
.archive ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 100%;
  padding-left: 88px; }
.archive ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  height: 44px;
  line-height: 44px;
  width: 107px;
  font-size: 20px;
  text-align: center;
  background-color: #ff989a;
  color: white;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  margin-right: 2px; }
.archive ul.tabs li:hover {
  background-color: #e95154;
  color: white;
  opacity: 0.7; }
.archive ul.tabs li.active {
  background-color: #e95154;
  color: white;
  display: block;
  opacity: 1.0; }
.archive .tab_container {
  clear: both;
  float: left;
  width: 100%;
  overflow: auto; }
.archive .year-first {
  background-image: url(../img/archivebg.png);
  background-size: 100% 100%; }
.archive .year-second {
  background-image: url(../img/archivebg2.png);
  background-size: 100% 100%; }
.archive .tab_content {
  height: 531px;
  display: none; }
  .archive .tab_content .archive-item-container {
    width: 89%;
    position: absolute;
    display: inline-block;
    padding-top: 188px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .archive .tab_content .archive-item-container .archive-item-wrapper {
      display: inline-block;
      position: relative;
      width: 25%;
      float: left; }
      .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item {
        background: white;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        height: 398px;
        margin-left: 8px;
        margin-right: 8px; }
        .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-logo {
          padding-top: 35px;
          height: 104px;
          text-align: center; }
          .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-logo img {
            vertical-align: middle;
            display: inline-block; }
        .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-logo:before {
          content: ' ';
          display: inline-block;
          vertical-align: middle;
          /* vertical alignment of the inline element */
          height: 100%; }
        .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-title {
          padding-top: 3px; }
          .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-title h3 {
            line-height: 0;
            font-size: 36px;
            font-family: 'iCielBrawls1'; }
        .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-desc {
          width: 80%;
          text-align: center;
          margin: 0 auto;
          margin-top: -7px;
          height: 136px; }
          .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-desc p {
            font-size: 15px !important;
            margin: 0 0 0 0;
            line-height: 18px; }
        .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-seemore {
          height: 54px;
          background-image: url(../img/seemore.png);
          background-size: 100% 100%;
          cursor: pointer;
          z-index: 10;
          text-decoration: none;
          position: relative; }
          .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-seemore a {
            text-decoration: none; }
          .archive .tab_content .archive-item-container .archive-item-wrapper .archive-item .archive-item-seemore span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            font-family: 'BrandonText-Bold'; }
.archive .remark-number {
  height: 447px;
  background-color: #eeeeee;
  z-index: -2;
  margin-top: -54px; }
  .archive .remark-number .remark-number-title {
    padding-top: 86px;
    padding-left: 118px; }
    .archive .remark-number .remark-number-title h3 {
      letter-spacing: -1px;
      font-size: 36px;
      font-family: 'iCielBrawls1';
      text-align: left; }
  .archive .remark-number .remark-number-wrapper {
    margin-top: 2px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 91%;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .archive .remark-number .remark-number-wrapper .remark-number-item {
      display: inline-block;
      position: relative;
      float: left;
      height: 150px;
      width: 20%; }
      .archive .remark-number .remark-number-wrapper .remark-number-item .number {
        margin-top: 62px;
        color: #e95154;
        font-size: 123px;
        font-family: 'iCielBrawls1';
        display: block;
        line-height: 0;
        margin-bottom: 52px; }
      .archive .remark-number .remark-number-wrapper .remark-number-item .desc {
        line-height: 15px;
        margin-top: 10px;
        font-size: 24px;
        font-family: 'BrandonText-Bold'; }
    .archive .remark-number .remark-number-wrapper .remark-number-item:before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      width: 100%;
      height: 125px;
      border-left: solid 2px black;
      border-left-style: dotted; }
    .archive .remark-number .remark-number-wrapper .first-left:before {
      border-left: none; }

.company {
  height: 1687px; }
  .company h2 {
    font-family: 'iCielBrawls1';
    font-size: 50px;
    text-align: center;
    margin-top: 107px;
    letter-spacing: -1px;
    line-height: 0; }
  .company .title-button {
    color: #e95154;
    font-size: 22px;
    letter-spacing: -1px;
    border: #e95154 3px solid;
    padding: 10px 28px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    margin-top: 53px; }
  .company .title-button:after {
    content: '';
    border-right: 3px solid #e95154;
    border-bottom: 3px solid #e95154;
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 100%;
    height: 100%;
    z-index: -2; }
  .company .button-wrapper {
    display: block; }
  .company .sponsor .logos-container {
    text-align: center;
    width: 73%;
    margin: 0 auto;
    margin-top: 29px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .company .sponsor .logos-container .sponsor-item {
      width: 33.33333%;
      display: inline-block;
      position: relative;
      float: left; }
    .company .sponsor .logos-container .sponsor-logo {
      height: 200px; }
      .company .sponsor .logos-container .sponsor-logo img {
        vertical-align: middle;
        display: inline-block; }
    .company .sponsor .logos-container .sponsor-logo:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      /* vertical alignment of the inline element */
      height: 100%; }
    .company .sponsor .logos-container .sponsor-title {
      background: #e95154;
      height: 45px;
      width: 260px;
      color: white;
      margin: 0 auto;
      font-size: 22px;
      font-family: 'BrandonText-Bold';
      letter-spacing: -1px;
      margin-top: 18px;
      margin-bottom: 28px;
      justify-content: center; }
    .company .sponsor .logos-container .sponsor-title:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      /* vertical alignment of the inline element */
      height: 100%; }
  .company .line {
    height: 2px;
    width: 92%;
    position: absolute;
    background-color: #e95154;
    margin-top: 87px;
    z-index: -1000;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
  .company .partner {
    position: relative;
    margin-top: -5px; }
    .company .partner .title-button {
      padding: 10px 78px;
      position: absolute;
      top: 11px;
      z-index: 5;
      background-color: white; }
    .company .partner .viewmore-button {
      padding: 16px 48px;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      margin-top: 27px; }
    .company .partner .viewmore-button:after {
      width: 98%;
      height: 91%; }
    .company .partner .logos-container {
      text-align: center;
      width: 94%;
      margin: 0 auto;
      margin-top: 150px;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%); }
      .company .partner .logos-container .partner-item {
        height: 200px;
        width: 20%;
        display: inline-block;
        position: relative;
        float: left; }
        .company .partner .logos-container .partner-item img {
          vertical-align: middle;
          display: inline-block; }
        .company .partner .logos-container .partner-item .partner-pos {
          height: 150px;
          width: 100%;
          background-color: #e95154;
          opacity: 0.8;
          position: absolute;
          top: 13%;
          display: none; }
          .company .partner .logos-container .partner-item .partner-pos span {
            text-align: center;
            font-size: 20px;
            white-space: nowrap;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%); }
      .company .partner .logos-container .partner-item:hover .partner-pos {
        display: block; }
      .company .partner .logos-container .partner-item:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        /* vertical alignment of the inline element */
        height: 100%; }
  .company .supporter {
    position: relative;
    margin-top: 27px; }
    .company .supporter .title-button {
      padding: 11px 72px;
      position: absolute;
      top: 10px;
      z-index: 5;
      background-color: white; }
    .company .supporter .viewmore-button {
      padding: 16px 48px;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      margin-top: 22px; }
    .company .supporter .viewmore-button:after {
      width: 98%;
      height: 91%; }
    .company .supporter .logos-container {
      text-align: center;
      width: 94%;
      margin: 0 auto;
      margin-top: 154px;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%); }
      .company .supporter .logos-container .supporter-item {
        height: 200px;
        width: 20%;
        display: inline-block;
        position: relative;
        float: left; }
        .company .supporter .logos-container .supporter-item img {
          vertical-align: middle;
          display: inline-block; }
      .company .supporter .logos-container .supporter-item:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        /* vertical alignment of the inline element */
        height: 100%; }

.news-slider-container {
  margin-top: 100px;
  width: 100%;
  height: 535px;
  overflow-y: hidden; }
  .news-slider-container .news-slider {
    height: 100%; }
    .news-slider-container .news-slider .slide-holder {
      position: relative;
      height: 100%; }
      .news-slider-container .news-slider .slide-holder .image-block {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%; }
        .news-slider-container .news-slider .slide-holder .image-block img {
          height: 100%; }
      .news-slider-container .news-slider .slide-holder .text-block {
        display: inline-block;
        float: left;
        background-image: url(../img/lastestbanner.png);
        width: 50%;
        height: 100%;
        max-height: 100%;
        background-size: 100% 100%; }
        .news-slider-container .news-slider .slide-holder .text-block .text-item {
          height: 100%; }
    .news-slider-container .news-slider .slide-nav {
      position: absolute; }
      .news-slider-container .news-slider .slide-nav ol {
        margin: 0px;
        padding: 0px; }
        .news-slider-container .news-slider .slide-nav ol li {
          display: inline-block;
          border-radius: 50%;
          background-color: black;
          width: 9px;
          height: 9px; }
        .news-slider-container .news-slider .slide-nav ol li.active {
          background-color: #fffe8f; }

.animation-element {
  opacity: 0;
  position: relative; }

/*animation element sliding left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transition: translate3d(-100px, 0px, 0px);
  transform: translate3d(-100px, 0px, 0px);
  transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  -webkit-transform: translate(-100px, 0px);
  -o-transform: translate(-100px, 0px);
  -moz-transform: translate(-100px, 0px); }

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transition: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px); }

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transition: translate3d(100px, 0px, 0px);
  transform: translate3d(100px, 0px, 0px);
  transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  -webkit-transform: translate(100px, 0px);
  -o-transform: translate(100px, 0px);
  -moz-transform: translate(100px, 0px); }

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transition: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px); }

.animation-element.slide-up {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transition: translate3d(0px, 100px, 0px);
  transform: translate3d(0px, 100px, 0px);
  transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  -o-transform: translate(0px, 100px);
  -moz-transform: translate(0px, 100px); }

.animation-element.slide-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transition: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px); }

.animation-element.zoom-in {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -o-transition: scale(0, 0);
  transform: scale(0, 0); }

.animation-element.zoom-in.in-view {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transition: scale(1, 1);
  transform: scale(1, 1); }

.popup_overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 100; }
  .popup_overlay .popup {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    padding: 20px;
    border: 1px solid black;
    background: black;
    color: white;
    vertical-align: middle; }
    .popup_overlay .popup .popup_close {
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 12px;
      height: 12px;
      padding: 8px;
      cursor: pointer;
      background-image: url(../img/close.png);
      background-size: 100% 100%;
      font-weight: bold; }
    .popup_overlay .popup iframe {
      width: 100%;
      height: 100%; }

.popup_overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: ''; }

/*# sourceMappingURL=main.css.map */
