

@font-face {
	font-family: 'BrandonText-Regular';
	src: url(../fonts/BrandonText-Regular.eot);
	src: url(../fonts/BrandonText-Regular.ttf) format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'BrandonText-Bold';
	src: url(../fonts/BrandonText-Bold.eot);
	src: url(../fonts/BrandonText-Bold.ttf) format("truetype");
	font-style: normal;
}


@font-face {
	font-family: 'iCielBrawls1';
	src: url(../fonts/iCielBrawls1-2.eot);
	src: url(../fonts/iCielBrawls1-2.ttf) format("truetype");
	font-style: normal;
}


@font-face {
	font-family: 'SamsungOne';
	src: url(../fonts/SamsungOne-400.eot);
	src: url(../fonts/SamsungOne-400.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SamsungOne';
	src: url(../fonts/SamsungOne-200.eot);
	src: url(../fonts/SamsungOne-200.ttf) format("truetype");
	font-weight: 200;
	font-style: normal;
}


html, body {
	font-family: 'BrandonText-Bold';
	width: 100%;
	overflow-x: hidden;
	margin: 0 0 0 0;
	padding: 0;
}

@import 'color';
@import 'mixin';
@import 'style';




.header {
	@include for-phone-only {
		display: none;
	}
	position: fixed;
	top:0;
	background: white;
	width: 100%;
	z-index: 1000;
	height: 100px;
	white-space: nowrap;
	
	.logo {
		float: left;
		position: relative;
		margin: 24px 0 0 120px;
		display: inline-block;
		width: 15%;
		@include for-1440design {
			margin-left: 80px;
		}
	}

	.org {
		float: right;
		position: relative;
		display: inline-block;
		margin-top: 30px;
		padding-right: 3px;
		width: 10%
	}

	.top-nav {
		text-align: left;
		display: inline-block;
		padding-left: 134px;
		margin: 0 0 0 0;
		width: 75%;
		letter-spacing: -1px;
		//margin-left: -35px;
		//padding-top: 40px;
		@include for-1440design {
			padding-left: 2%;
		}
		li {
			color: black;
			display: inline-block;
			position: relative;
			a{	
				//padding: 20px;
				display: block;
				font-weight: 700;
				//margin: 40px 40px 40px 40px;
				color: black;
				padding-right: 20px;
				padding-top: 41px;
				padding-bottom: 41px;
				padding-left: 20px;
				//padding: 40px;
				
					text-decoration: none;

				
			}
			:hover {
				background: transparent;
				color: $active-color;
			}
			}
		.mechanic {
			margin-left:3px;
		}
		.jury-nav {
			margin-left:-3px;
		}
		.archive{
			margin-left:-1px;
		}
		.partners{
			margin-left:5px;
		}
		.news {
			margin-left:3px;
		}
		.register {
			margin-left:12px;
		}
		.active {
			a {
				color: white;
			}
			color: white;
			background: $active-color;
			   :hover {
				   color: white;
   					background: $active-color;
			   }
		}
		}

}



.banner {
	margin-top: 100px;
	background-image: url("../img/banner.png");
	background-size: 100% 100%;
	height: 250px;
	@include for-big-desktop-up {
		height: 350px;
	}
	@include for-snakktablet-portrait-only {
		height: 250px;
	}
	@include for-phone-only {
		margin-top: 20px;
		height: 180px;
	}

}


.banner-content {
	padding-top: 36px;
	margin-left: -17px;
	@include for-big-desktop-up {
		padding-top: 60px;
	}
	text-align: center;
	h1 {
		font-family: "iCielBrawls1";
		color: white;
		font-size: 50px;
		letter-spacing: -2px;
		margin-bottom: 0px;
		text-indent: 18px;
		

		@include for-big-desktop-up {
			font-size: 50px;
		}
		@include for-phone-only {
			font-size: 30px;
		}
	}
	h2 {
		font-family: "BrandonText-Regular";
		color: white;
		font-size: 20px;
		margin-top: 0px;
		margin-top: 7px;
    	padding-left: 22px;
		@include for-big-desktop-up {
			font-size: 30px;
		}
		@include for-phone-only {
			font-size: 13px;
		}
	}
}


$awardboxsize: 430px;


$awardboxsizemobilde: 250px;


.award-wrapper {
	margin: 0 auto;
	width: $awardboxsize;
	@include for-phone-only {
		width: $awardboxsizemobilde;
	}
}

#thecup img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#awardteam {
	position: absolute;
	top: 176px;
	height: $awardboxsize;
	width: $awardboxsize;
	@include for-phone-only {
		height: $awardboxsizemobilde;
		width: $awardboxsizemobilde;
	}
	outline:solid 12px $active-color;
	z-index: -1;
}

.gold {
	color: $gold-color;
}

.silver {
	color: $silver-color;
}

.bronze {
	color: $bronze-color;
}


#teamsilver {
	margin-top: 44px;
	margin-bottom: 44px;
}
.team-info {
	text-align: center;
	margin-top: 93px;
	@include for-phone-only {
		margin-top: 50px;
	}
	h3 {
	font-family: 'iCielBrawls1';
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 0px;
	@include for-big-desktop-up {
				font-size: 30px;
			}
	@include for-phone-only {
				font-size: 20px;
				margin-top: 0px;
			}
	}
	h4 {
		font-size: 20px;
		font-weight: bold;
		margin-top: 0px;
		@include for-phone-only {
			margin-top: 0px;
			font-size: 12px;
			
		}
	}	
	
}

.team-detail {
	margin-bottom: 30px;
}

.shortlist {
	margin-top: 443px;
	margin-left: 12px;

	@include for-big-desktop-up {
		margin-top: 20%;
	}
	@include for-tablet-landscape-only {
		margin-top: 35%;
	}
	@include for-snakktablet-portrait-only {
		margin-top: 45%;
	}
	@include for-phone-only {
		margin-top: 70%;
	}
	text-align: center;	
}

.shortlist-wrapper {
	margin: 0 auto;
}

#shortlist-title {
	
	width: 20%;
	margin: 0 auto;
	white-space: nowrap;
	position:relative;
	h3 {
		text-align: center;
		font-family: 'iCielBrawls1';
		color: $active-color;
		//text-decoration: underline;
		font-size: 36px;
		//line-height: 10px;
		//border-bottom: 2px solid $active-color;
		padding-bottom: 0px;
		margin-bottom: 0px;
		//border-bottom-width: 1px;
	}
	
}
#shortlist-title:after {
		content: '';
		width: 90%;
		position: absolute;
		bottom: 2px;
		border: $active-color 1px solid;
		@include transformX(-50%);
	}

#shortlist-teams {
	padding-top: 30px;
	margin-left: -14px;
	//padding-bottom: 100px;
	.shorteaminfo {
		//margin-top: 20px;
		margin-bottom: 20px;
		h4 {
			font-size: 20px;
			margin-bottom: 0;
			margin-top: 0;
			line-height: 1;
			@include for-big-desktop-up {
				font-size: 23px;
			}
		}
		p{
			//line-height: 1.1;
			font-family: 'BrandonText-Regular';
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 0;
			@include for-big-desktop-up {
				font-size: 20px;
			}
		}
	}
}


.footer {
	background-color: $footer-color;
	color: white;
	font-family: 'BrandonText-Regular';
	height: 400px;
	//bottom:0;
	.container {
		width: 86%;
		display: inline-block;
		position: relative;
		padding-top: 37px;

		padding-bottom: 77px;
		left: 50%;
		@include transformX(-50%);
		@include for-snakktablet-portrait-only {
			padding-bottom: 38px;
		}
		// @include for-phone-only {
		// 	padding-top: 20px;
		// 	margin-left: 10px;
		// 	margin-right: 10px;
		// }
		.footer-item {
			float: left;
			display: inline-block;
			width: (100%/3);
		}
		.edge {
			width: 25%;
		}
		.middle {
			width: 50%;
		}
	}
	hr {
		width: 90%;
	}
	.representatives {
		text-align: center;
		margin-left: 81px;
		margin-right: 80px;
		margin-top: 37px;
		// /padding-bottom: 10px;
		//padding-top: 5px;
		// @include for-phone-only {
		// 	margin-left: 15px;
		// 	margin-right: 15px;
		// }
		p {
			font-size: 20px;
			line-height: 0;
			// @include for-big-desktop-up {
			// 	font-size: 20px;
			// }
			// @include for-phone-only {
			// 	font-size: 15px;
			// }
		}
		img {
			margin-right: 10px;
			margin-left: 10px;
			//max-width: 150px;
			max-height: 39px;
			max-width: auto;
			width: auto;
			height: auto;
			@include for-big-desktop-up {
				max-width: 180px;
			}
			@include for-phone-only {
				
				max-width: 110px;
			}
		}
		//padding-bottom: 20px;
		.representatives-logo {
			//margin-top: -10px;
			margin-top: 23px;
		}
	}
}

.contact {
	margin-left: 113px;
	//margin-left: 26px;
	h4 {
		font-size: 22px;
		font-weight: bold;
		margin-bottom: -5px;
		// @include for-big-desktop-up {
		// 		font-size: 30px;
		// 	}
		// @include for-phone-only {
		// 	font-size: 15px;
		// }
	}
	p{	
		font-size: 18px;
		@include for-big-desktop-up {
				font-size: 20px;
			}
		@include for-phone-only {
			font-size: 11px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 24px;
		li {
			font-size: 18px;
		}
	}
}

.phone-break {
	display: none;
	@include for-phone-only {
		display: block;
	}
}

.follow {
	padding-right: 17px;
	text-align: right;
	white-space: nowrap;
	// @include for-snakktablet-portrait-only {
	// 	text-align: left;
	// }
	// @include for-phone-only {
	// 	text-align: left;
	// }
	
	.follow-link {
		margin-top: -21px;
		//margin-left: -10px;
	}

	h4 {
		font-size: 22px;
		font-weight: bold;
			@include for-big-desktop-up {
				font-size: 30px;
			}
			@include for-phone-only {
				font-size: 15px;
			}
		}
	.facebook-link, .web-link {
		//width: 120px;
		display: inline-block;
		margin-right: 36px;
		//text-align: left;
		@include for-big-desktop-up {
				width: 150px;
			}
		@include for-snakktablet-portrait-only {
			    display: block !important;
				width: 100%;
				margin-top: 15px;
				left: 0;
				text-align: left;
				margin-left: 25px;
		}
		@include for-phone-only {
			display: block !important;
			width: auto;
			margin-top: 15px;
			margin-left: 15px;
		}
		span {
			margin: 0 0 0 0;
			
    		vertical-align: middle;
			font-size: 18px;
			color: white;
			display:inline-block;
			margin-right: -9px;
    		margin-top: -28px;
			:hover{
				color: white;
			}
			@include for-big-desktop-up {
				font-size: 20px;
			}
			@include for-phone-only {
				display: none;
			}
		}
		h4 {
			@include for-big-desktop-up {
				font-size: 30px;
			}
		}
		img {
			margin-right: 6px;
		}
	}
	.web-link {
		margin-right: 10px;
	}
}

.organized {
	margin-left: 19px;
	h4{
		font-size: 22px;
		font-weight: bold;
		//margin-left: 26px;
		//font-size: 22px;
	@include for-big-desktop-up {
				font-size: 30px;
			}
	@include for-phone-only {
				font-size: 15px;
			}
	}
	
	img {
		//max-width: 150px;
		@include for-big-desktop-up {
				max-width: 200px;
			}
		max-height: auto;
		width: auto;
		height: auto;
		margin-top: -12px;
		@include for-phone-only {
			max-width: 85px;
		}  
	}
}

.side-nav {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 5;
	@include transformY(-50%);
	cursor: pointer;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			height: 60px;
			width: 60px;
			background-color: white;
			position: relative;
			border: solid 1px white;
			img {
				position: absolute;
				left: 50%;
				top:50%;
				@include transformXY ( -50%,-50%);
			}
			color: white;
			font-size: 11px;
			text-align: center;
			span {
				position: absolute;
				top: 0;
				top: 34px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		li.active {
			background-color: $active-color;
			border: solid 1px $active-color;
		}
		li.active:hover {
			border: solid 1px white;
		}
		li.special {
			img{
			top:35%;
			left: 55%;
			}
		}
		li:hover {
			border: solid 1px $active-color;
		}
	}

}







.big-slider {
	width: 100%;
	margin-top: 100px;
	overflow: hidden;
	height: 800px;
	position: relative;
	@include for-tablet-and-phone-only {
		
							}
	
	.controler {
		z-index: 5;
		position: absolute;
		//width: 100%;
		left:50%;
		height: 800px;
		//width: 88px;
		@include transformX(-50%);
			.btnprev, .btnnext {
				display: inline-block;
				position: relative;
				float:left;
				opacity: 0;
				height: 100%;
				
				width: 50px;
				
			}
			.btnnext {
				float: right;
			}


	}
	.btnprev {
		z-index: 5;
		position: absolute;
		left:0;
		height: 100%;
		width: 50px;
		@include gradienttransparencytoright(white);
		opacity: 0;
		padding: 0;
		border: none;
	}
	.btnprev:hover {
		opacity: 0.2;
	}
	.btnnext {
		z-index: 5;
		position: absolute;
		right:0;
		height: 100%;
		width: 50px;
		@include gradienttransparencytoleft(white);
		opacity: 0;
		padding: 0;
		border: none;
	}
	.btnnext:hover {
		opacity: 0.2;
	}
		ol {
			padding: 0;
			margin: 0;
			position: absolute;
			z-index: 5;
			left: 50%;
			@include transformX(-50%);
			margin-top: 750px;
			@include for-tablet-and-phone-only {
				margin-top: 45%;
			}
			li {
				display: inline-block;
				height: 21px;
				width: 21px;
				@include for-tablet-and-phone-only {
					height: 15px;
					width: 15px;
				}
				background-image: url(../img/prevbtn.png);
				background-size: 100% 100%;
				cursor: pointer;
				margin-left: 8px;
    			margin-right: 8px;
			}
			li.active {
				background-image: url(../img/nextbtn.png);
			}
		}
.main-slider{
	width: 100%;
	height: 100%;
	position: relative;
	overflow:hidden;
	float: left;
	.slide{
	position: absolute;
	width: 100%;
					.poster {
						float: left;
						width: 50%;
						img {
							width: 100%;
							height: 800px;
							@include for-tablet-and-phone-only {
								width: 100%;
								height: auto;
							}
						}
					}
					.youtube {
						float: left;				
						width: 50%;
						position: relative;
						.youtube-preview-img {
						img {
							width: 100%;
							height: 800px;
							@include for-tablet-and-phone-only {
								width: 100%;
								height: auto;
							}
						}
						}
						.youtubepopup {
							cursor: pointer;
							left: 50%;
							
							top: 50%;
							height: 127px;
							width: 127px;
							@include for-tablet-and-phone-only {
								height: 50px;
								width: 50px;
							}
							@include transformXY(-50%,-50%);
							position: absolute;
							background-image: url(../img/play-btn.png);
							background-size: 100% 100%;		
						}
						.youtubepopup:hover{
							background-image: url(../img/play-btn-red.png);
						}

					}
				
	}
}

#slider img{
	width: 940px;
	height: 350px;
}

#prev, #next {
	float: left;
	margin-top: 150px;
	cursor: pointer;
	position: relative;
	z-index: 100;
	height: 50px;
	opacity: 0.8;
}

#next{
	margin-left: -45px;
}

#prev{
	margin-right: -45px;
}



.slide-copy{
	width: 940px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	background: black;
	background: rgba(0,0,0,0.5);
}
}



h2 span {
	color: $active-color;
}



.four-thing {
	
	h2{
		font-size: 50px;
		text-align: center;
		font-family: 'iCielBrawls1';
		white-space: nowrap;
		letter-spacing: -2px;
		margin-top: 57px;
		@include for-snakktablet-portrait-only {
			margin-top: 15px;
		}
		@include for-phone-only {
			margin-top: 10px;
		}
	}

	
	.four-thing-item {
		display: inline-block;
		margin: 0 0 0 0;
		padding: 0;
		width: 25%;
		display: inline-block;
		position: relative;
		float: left;
		margin-bottom: -12px;
		text-align: center;
		img {
			width: 100%;
    		height: auto;
			max-width: 100%;
			max-height: 100%;
		}
		.gif-img {
			display: none;
		}


	}
	.four-thing-item:hover .png-img{
			display: none;
	}
	.four-thing-item:hover .gif-img{
			display: block;
	}

	.row {
		margin-top: 96px;
	}
	.four-thing-container {
		display: inline-block;
		margin-top: 51px;
		position: relative;
		margin-bottom: 6px;
		width: 100%;
		@include for-snakktablet-portrait-only {
			margin-top: 0;
		}
		@include for-phone-only {
			margin-top: 0;
		}
	}
}




.previous-winner {
	height: 700px;
	background-color: $cream-color;
	position: relative;
	@include for-snakktablet-portrait-only {
		height: 400px;
	}
	@include for-phone-only {
		height: 215px;
	}
	h2{
		font-size: 50px;
		text-align: center;
		font-family: 'iCielBrawls1';
		white-space: nowrap;
		letter-spacing: -2px;
		margin-top: 0;
		padding-top: 93px;
		@include for-snakktablet-portrait-only {
		padding-top: 35px;
		}	
		@include for-phone-only {
			padding-top: 20px;
		}
	}
	.row {
		padding-left: 75px;
		padding-right: 75px;
		margin: 0 auto;
		padding-top: 85px;
	}
	.previous-winner-container {
		position: absolute;
		left: 50%;
		@include transformX(-50%);
		padding-left: 85px;
		padding-right: 85px;
		margin: 0 auto;
		padding-top: 50px;
		display: inline-block;
		position: relative;
		width: 87%;
		@include for-snakktablet-portrait-only {
			padding-top: 0;
		}
		@include for-phone-only {
			padding-top: 0;
		}
		//padding-left: 15px;
	}
	.winner-item {
		padding: 0;
		margin:0 0 0 0;
		display: inline-block;
		position: relative;
		float: left;
		width: (100%/3);
		img {
			display: block;
			margin: 0 auto;
			height: auto;
    		width: 90%;
		}
	}

}

.mile-stone {
	height: 1095px;
	position: relative;
	@include for-snakktablet-portrait-only {
		height: 720px;
	}
	@include for-phone-only {
		height: 800px;
	}
	h2 {
		margin-top: 50px;
		font-family: 'iCielBrawls1';
		font-size: 50px;
		text-align: center;
		margin-top: 110px;
		letter-spacing: -2px;
		line-height: 0;
		@include for-phone-only {
			margin-top: 50px;
		}
	}
	p{	
		//margin-top: 10px;
		text-align: center;
		font-family: 'BrandonText-Regular';
		font-size: 20px;
		line-height: 24px;
		margin-top:-5px;
		@include for-snakktablet-portrait-only {
			font-size: 16px;
		}
		@include for-phone-only {
			font-size: 14px;
		}
	}
	.mile-stone-line {
		position: absolute;
		top: 6%;
		margin: 0 auto;
		width: 1223px;
		height: 881px;
		background-image: url(../img/milebg.png);
		left: 50%;
		@include for-snakktablet-portrait-only {
			@include transformscale (0.5);
			left: -31%;
			top: -15%;
		}
		@include transformX(-50%);
		ul {
			padding-left: 168px;
    		padding-top: 118px;
			//width: 90%;
			li {
				position: relative;
				
				height: 255px;
				width: 315px;
				
				display: inline-block;
				margin-bottom: 73px;
				cursor: pointer;
				img {
					position: absolute;
				}

				.extra-info {
					//display: none;
					height: 150px;
					width: 150px;
					background: $cream-color;
					border: solid 2px $active-color;
					position: absolute;
					//top: 50%;
					left: -55%;
					display: none;
					p{
						font-size: 14px;
					}
				}
				.extra2 {
				left:-40%
				}
				.extra1 {
					left:-46%
				}
				.extra4 {
					left:-40%
				}
				.extra5 {
					left:-38%
				}
				.extra6 {
					left:-28%
				}
			}
			li:hover .extra-info {
				display: block;
			}
			.mile2 {
				margin-left: 12px;
			}
			.mile1 {
				margin-left: 71px;
			}
			.mile4 {
				margin-left: -42px
			}
			.mile5 {
				margin-left: 47px
			}
			.mile6 {
				margin-left: 23px;
			}
		}
		
	}
	.for-more-info {
		position: absolute;
		top: 80%;
		left: 50%;
		@include transformX(-50%);
		p{
			padding-top: 6px;
			span {
				color: $active-color;
				@include for-phone-only {
					font-weight: bold;
				}
			}
		}
		
		@include for-snakktablet-portrait-only {
				top: 72%;
		}
		@include for-phone-only {
			top: 67%;
		}
		.direct-regis {
			position: absolute;
			left: 50%;
			@include transformX(-50%);
			width: 700px;
			display: inline-block;
			margin-top: 5px;
			text-align: center;
			@include for-phone-only {
				margin-top: -6px;
			}
		p{
			display: inline-block;
			margin-right: 10px;
			@include for-phone-only {
				display: block;
			}
			
		}

		}
		
	}
}


.viewmore-button {
	font-size: 22px;
	text-align: center;
	color: white;
	//border: 2px solid #fc7058;
	background: $active-color;
			
	display: inline-block;
	
	padding: 16px 32px;
	cursor: pointer;
	position: relative;
	letter-spacing: 0px;					
	}
.viewmore-button:after {
	content: '';
	border: 2px solid $active-color;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 97%;
    height: 90%;
	transition: all 0.1s ease-in-out;
	}
.viewmore-button:hover:after {
	top: 0px;
	left: 0px;
	}
.viewmore-button:focus,
.viewmore-button:active {
	background: $active-color;
	color: $active-color;
	}
.viewmore-button + .viewmore-button {
	margin-left: 25px;
	}

	

.join-us {
	position: relative;
	width: 100%;
	height: 550px;
	padding: 0;
	margin: 0 0 0 0;
	display: inline-block;
	margin-top: -30px;
	.join-us-container {
		display: inline-block;
		position: relative;
		width: 100%;
	.frame {
		padding: 0;
		margin: 0 0 0 0;
		position: relative;
		display: inline-block;
		float: left;
		width: 50%;
		height: 550px;
		img {
			height: 550px;
			width: 100%;
			@include for-tablet-and-phone-only { 
				height: auto;
			}
			
		}
		position: relative;
		.shame-frame, .fame-frame {
			position: absolute;
			width: 100%;
			line-height: 0;
		}
		.shame-frame {
			z-index: 1;
		}
		.shame-frame.hide {
			display: none;
		}
		.fame-frame {
			//display: none;
			float: left;
		}
		.fame-frame.appear {
			display: block;
		}
	}
	.join-us-state {
		padding: 0;
		margin: 0 0 0 0;
		background-image: url(../img/joinusbg.png);
		background-size: 100% 100%;
		height: 550px;
		@include for-tablet-and-phone-only { 
				height: auto;
			}
		color: white;
		position: relative;
		display: inline-block;
		float: left;
		width: 50%;
		.join-us-content-container {
			left: 15%;
			position: relative;
			@include for-snakktablet-portrait-only {
				left:0;
			}
			@include for-phone-only {
				left: 0;
			}
			
		.join-us-content {
			margin-top: 70px;
			position: relative;
			@include for-snakktablet-portrait-only {
				@include transformscale(0.6);
				margin-top: 38px;
				left: -30px;
				
			}
			@include for-phone-only {
				@include transformscale(0.3);
				margin-top: 8px;
				left: -100px;
    			width: 329px;
			}
			.jonfb{
				position: absolute;
				margin: 0 0 0 0;
				font-size: 27px;
				line-height: 30px;
			}
			.feel {
				position: absolute;
				margin: 0 0 0 0;
				font-family: 'iCielBrawls1';
				font-size: 163px;
				margin-top: 36px;
				//line-height: 0px;
			}
			.the {
				position: absolute;
				margin: 0 0 0 0;
				font-family: 'iCielBrawls1';
				font-size: 45px;
				margin-top: 177px;

			}
			.win{
				position: absolute;
				margin: 0 0 0 0;
				font-family: 'iCielBrawls1';
				font-size: 147px;
				margin-top: 153px;
    			margin-left: 73px;

			}
			.slogan {
				position: absolute;
				margin: 0 0 0 0;
				font-size: 20px;
				margin-top: 295px;
				margin-left: -4px;
				white-space: nowrap;

			}
		}

		.viewmore-button {
			margin-top: 190px;
			color: $active-color;
			background: white;						
			padding: 16px 24px;
			@include for-snakktablet-portrait-only {
				@include transformscale(0.6);
			}
			@include for-phone-only {
				@include transformscale(0.3);
				margin-top: 70px;
			}
		}
		.viewmore-button:after {
			border: 2px solid white;
			width: 98%;
    		height: 93%;
		}
		.viewmore-button:focus,
		.viewmore-button:active {
			background: white;
			
		}
		}
	}
}
}

.jury, .jury-mobile {

	
	height: 1866px;
	width: 100%;
	background-color: $cream-color;
	display: inline-block;
	margin-top: -9px;
	.jury-title {
		width: 70%;
		padding-left: 40px;
		padding-top: 59px;
		padding-bottom: 90px;
		h2 {
			font-size: 50px;
			font-family: 'iCielBrawls1';
			letter-spacing: -2px;
			margin-bottom: 12px;
			
		}
		p {
			margin-left: -6px;
			margin-top: 12px;
			line-height: 25px;
			font-size: 20px;
			font-family: 'BrandonText-Regular';
		}
	}
	.left-jury-container,
	.right-jury-container {
		
		display: inline-block;
		position: relative;
		height: 100%;
		width: 50%;
		float:left;
	}
	.left-jury,
	.right-jury {
		
		display: inline-block;
		//height: 100%;
		padding-top: 100px;
	}
	.left-jury {
		//float: left;
		padding-right: 15px;
		position: absolute;
		right: 0;
		
		.jury-item {
			//float:right;
		}
		
    	//padding-right: 16px;
	}

	.right-jury {
		padding-left: 15px;
		position: absolute;
		left: 0;
		.jury-item {
			//float: left;
		}
		//padding-left: 16px;
	}

	.jury-item {
		position: relative;
		height: 645px;
    	width: 564px;
		background-color: white;
		border: 5px solid $active-color;
		margin-bottom: 37px;
		.jury-img {
			img {
				max-width: 100%;
    			max-height: 100%;
			}
		}
		.jury-info {
			top:50%;
			z-index: 2;
			//background: violet;
			background: white;
			//width: 100%;
			margin:0 auto;
			padding-top: 2px;
			padding-left: 39px;
			padding-right: 20px;
			position: absolute;
			height: 320px ;
			overflow: hidden;
				h3{
				font-size: 30px;
				font-family: 'BrandonText-Bold';
				color: $active-color;
				font-weight: bold;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-top: 40px;
				}				
				h4{
				margin-top: -26px; 
				font-size: 20px;
				font-family: 'BrandonText-Regular';
				text-transform: uppercase;
			}
			.jury-desc { 
				margin-top: -3px;

				p{
				font-size: 20px;
				font-family: 'BrandonText-Regular';
				line-height: 25px;
				}
				.jury-desc-full {
					display: none;
				}	
			}
		}
		.more-info {
				position: absolute;
				left: 50%;
				cursor: pointer;
				@include transformX(-50%);
				height: 37px;
				width: 76px;
				background-image: url(../img/moreinfo.png);
				bottom: -5px;
				z-index: 100;
				background-color: transparent;
				border: none !important;
				outline:none;
			}
		.more-info:active {
			border: none !important;
			outline:none;
		}
		.less-info {
				position: absolute;
				left: 50%;
				cursor: pointer;
				@include transformX(-50%);
				height: 37px;
				width: 76px;
				background-image: url(../img/lessinfo.png);
				bottom: -5px;
				z-index: 100;
				display: none;
				background-color: transparent;
				border: none !important;
				outline:none;
		}
		.less-info:active {
			border: none !important;
			outline:none;
		}
		.more-info.hide {
			display: none;
		}
		.less-info.appear {
			display: block;
		}
	}
	.jury-item:after {
		content: '';
		border-right: 5px solid $active-color;
		border-bottom: 5px solid $active-color;
		position: absolute;
		top: 5px;
		left: 5px;
		width: 100%;
		height: 100%;	
	}

}

.jury-mobile {
	height: 100%;
	.jury-title {
		margin: 0 auto;
	}
	.jury-item {
		margin: 0 auto;
		margin-bottom: 37px;
		max-width: 100%;
	}
	.jury-container {
		max-width: 100%;
		padding-left: 5px;
		padding-right: 20px;
	}
}
.archive {
	position: relative;
	h2 {
		font-family: 'iCielBrawls1';
		font-size: 50px;
		text-align: center;
		margin-top: 57px;
		letter-spacing: -2px;
	}
	p{	
		margin-top: -32px;
		text-align: center;
		font-family: 'BrandonText-Regular';
		font-size: 20px;
		line-height: 24px;
		margin-left: 4px;
	}

	.tabs-wrapper {
		position: relative;
		padding-top: 47px;
		height: 628px;
		@include for-phone-only {
			height: 489px;
		}
	}
	ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	//height: 32px;
	//border-bottom: 1px solid #333;
	width: 100%;
	  //margin-left:50px
	  padding-left: 88px;
		@include for-phone-only {
			padding-left: 30px;
		}
	}

	ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		padding: 0px 12px;
		height: 44px;
		line-height: 44px;
		width: 107px;
		font-size: 20px;
		text-align:center;

		background-color: $pre-active-color;
		color: white;
		overflow: hidden;
		position: relative;
		opacity: 0.5;
		margin-right: 2px;
		@include for-phone-only {
			font-size: 15px;
			width: 60px;	
		}
	}

	// ul.tabs li::before {
	// 	content: '';
	// 	display: inline-block;
	// 	height: 20%;
	// }

	ul.tabs li:hover {
		background-color: $active-color;
		color: white;
		opacity: 0.7;
	}

	ul.tabs li.active {
		background-color: $active-color;
		color: white;
		display: block;
		opacity: 1.0;
	}

	.tab_container {
		position: relative;
		//clear: both;
		float: left;
		width: 100%;
		//overflow: auto;
		
	}
	.year-first {
			background-image: url(../img/archivebg.png);
			background-size: 100% 100%;

		}
	.year-second {
			background-image: url(../img/archivebg2.png);
			background-size: 100% 100%;

		}
	.tab_content {
		position: relative;
		height: 531px;
		@include for-phone-only {
			height: 394px;
		}
		//padding: 20px;
		display: none;
		.archive-item-container {
			width: 89%;
			//height: 100%;
			position: absolute;
			display: inline-block;
			padding-top: 188px;
			left: 50%;
			
			@include transformX(-50%);
			.archive-item-wrapper {
				display: inline-block;
				position: relative;
				width: 25%;
				//background-color: blue;
				float: left;
			.archive-item {
				//margin-left: 8px;
				//margin-right:8px;
				background: white;
				text-align: center;
				padding-right: 0px;
				padding-left: 0px;
				//width: (95%/4);
				height: 398px;
				//width: 304px;
				margin-left: 8px;
				margin-right: 8px;
				

				//width: 23%;
				
				//width: 23%;
				
				
				.archive-item-logo {
					padding-top: 35px;
					height: 104px;
					
					text-align: center;
					img {
						vertical-align: middle;
						display: inline-block;
					}
				}
				.archive-item-logo:before{
					content: ' ';
					display: inline-block;
					vertical-align: middle;  /* vertical alignment of the inline element */
					height: 100%;
				}
				.archive-item-title {
					padding-top: 3px;
					h3 {
						line-height: 0;
						font-size: 36px;
						font-family: 'iCielBrawls1';
					}
				}
				.archive-item-desc {
					width: 80%;
					text-align: center;
					margin: 0 auto;
					margin-top: -7px;
					height: 136px;
					overflow: hidden;
					p{
						font-size: 15px !important;
						margin: 0 0 0 0;
						line-height: 18px;
						@include for-snakktablet-portrait-only {
							font-size: 10px !important;
						}
					}
				}
				.archive-item-seemore {
					height: 54px;
					background-image: url(../img/seemore.png);
					background-size: 100% 100%;
					cursor: pointer;
					z-index: 10;
					text-decoration: none;
					position: relative;
					
					a{
						text-decoration: none;
					}
					span {
						position: absolute;
						top:50%;
						left: 50%;
						@include transformXY(-50%,-50%);
						color: white;
						font-size: 18px;
						text-transform: uppercase;
						
						font-family: 'BrandonText-Bold';
						
					}
				}
			}
			}
		}
	.archive-item-container-mobile {
			width: 89%;
			//height: 100%;
			position: absolute;
			display: inline-block;
			padding-top: 188px;
			left: 50%;
			@include for-phone-only {
				padding-top: 50px;
			}
			.controler {
				z-index: 5;
				position: absolute;
				top:30%;
				left:50%;
				width: 100%;
				height: 50px;
				@include transformX(-50%);
					.btnprevmarchive, .btnnextmarchive,.btnmoreinfo {
						display: inline-block;
						position: relative;
						float:left;
						margin: 0 auto;
						text-align: center;
					}
					.btnnextmarchive {
						float:right;
					}
					.btnprevmarchive.inactive {
						display: none;
						}
					.btnnextmarchive.inactive {
						display: none;
					}
					.btnmoreinfo {
						opacity: 0.7;
					}
			}
			ul {
				position: relative;
				margin: 0;
				padding: 0;
				height: 800px;
				list-style: none;
				li {
					//background: red;
					display: block;
					height: 800px;
					position: relative;
					float: left;			
					margin: 0;
					padding: 0;
					width: (100%/4);
				}
			}
			@include transformX(-50%);
			.archive-item-wrapper {

			.archive-item {
				//margin-left: 8px;
				//margin-right:8px;
				background: white;
				text-align: center;
				padding-right: 0px;
				padding-left: 0px;
				//width: (95%/4);
				height: 398px;
				//width: 304px;
				margin-left: 60px;
    			margin-right: 60px;
			
				

				//width: 23%;
				
				//width: 23%;
				
				
				.archive-item-logo {
					padding-top: 35px;
					height: 104px;
					
					text-align: center;
					img {
						vertical-align: middle;
						display: inline-block;
					}
				}
				.archive-item-logo:before{
					content: ' ';
					display: inline-block;
					vertical-align: middle;  /* vertical alignment of the inline element */
					height: 100%;
				}
				.archive-item-title {
					padding-top: 3px;
					h3 {
						line-height: 0;
						font-size: 36px;
						font-family: 'iCielBrawls1';
					}
				}
				.archive-item-desc {
					width: 80%;
					text-align: center;
					margin: 0 auto;
					margin-top: -7px;
					height: 136px;
					overflow: hidden;
					p{
						font-size: 15px !important;
						margin: 0 0 0 0;
						line-height: 18px;
						@include for-snakktablet-portrait-only {
							font-size: 10px !important;
						}
					}
				}
				.archive-item-seemore {
					height: 54px;
					background-image: url(../img/seemore.png);
					background-size: 100% 100%;
					cursor: pointer;
					z-index: 10;
					text-decoration: none;
					position: relative;
					
					a{
						text-decoration: none;
					}
					span {
						position: absolute;
						top:50%;
						left: 50%;
						@include transformXY(-50%,-50%);
						color: white;
						font-size: 18px;
						text-transform: uppercase;
						
						font-family: 'BrandonText-Bold';
						
					}
				}
			}
			}
		}


	}

	
	.remark-number{
		height: 447px;
		background-color: $cream-color;
		//margin-top: -54px;
		z-index: -2;
		margin-top: -54px;
		.remark-number-title {
			padding-top: 86px;
			padding-left: 118px;
			@include for-phone-only {
				padding-left: 0;
			}
			h3 {
				letter-spacing: -1px;
				font-size: 36px;
				font-family: 'iCielBrawls1';
				text-align: left;
				@include for-phone-only {
					text-align: center;
				}
			}
		}
		.remark-number-wrapper {
			
			//padding-left: 118px;
			margin-top: 2px;
			text-align: center;
			display: inline-block;
			position: relative;
			width: 91%;
			left: 50%;
			@include transformX(-50%);
			
			.remark-number-item {
				
				display: inline-block;
				position: relative;
				float: left;
				height: 150px;
				width: 20%;
				overflow: hidden;
				.number {
					margin-top: 62px;
					color: $active-color;
					font-size: 123px;
					font-family: 'iCielBrawls1';
					display: block;
					line-height: 0;
					margin-bottom: 52px;
					@include for-snakktablet-portrait-only {
						font-size: 85px;
					}
					@include for-phone-only {
						font-size: 20px;
						
					}
				}
				.desc {
					line-height: 15px;
					margin-top: 10px;
					font-size: 24px;
					font-family: 'BrandonText-Bold'; 
				}
				
			}
			.remark-number-item:before{
					content : "";
					position: absolute;
					left    : 0;
					top  : 20px;
					//height  : 1px;
					width: 100%;
					height: 125px;
					border-left:  solid 2px black;
					border-left-style: dotted;
					
			}
			.first-left:before {
				border-left: none;
			}
		}
	}
}

.company {
	height: 1687px;
	h2 {
		font-family: 'iCielBrawls1';
		font-size: 50px;
		text-align: center;
		margin-top: 107px;
		letter-spacing: -1px;
		line-height: 0;
		
	}
	.title-button {
		color: $active-color;
		font-size: 22px;
		letter-spacing: -1px;
		border: $active-color 3px solid;
		padding: 10px 28px;
		display: inline-block;
		position: relative;
		left: 50%;
		@include transformX(-50%);
		margin-top: 53px;
		
    	
	}
	.title-button:after {
		content: '';
		border-right: 3px solid $active-color;
		border-bottom: 3px solid $active-color;
		position: absolute;
		right: -5px;
		bottom: -5px;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	.button-wrapper {
		display: block;
		//height: 100px;
	}
	.sponsor {
		.logos-container {
			text-align: center;
			width: 73%;
			margin: 0 auto;
			margin-top: 29px;
			display: inline-block;
			position: relative;
			left: 50%;
			@include transformX(-50%);

			.sponsor-item {
				// height: 800px;
				// background-color: green;
				width: (100%/3);
				display: inline-block;
				position: relative;
				float: left;
				
			}
			.sponsor-logo {
				height: 200px;
				
				
				img {
					vertical-align: middle;
					display: inline-block;
					@include for-snakktablet-portrait-only {
						width: 80%;
						height: auto;
					}
				}
			}
			.sponsor-logo:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;  /* vertical alignment of the inline element */
				height: 100%;
			}


			.sponsor-title {
				background: $active-color; 
				height: 45px;
				width: 260px;
				color: white;
				margin: 0 auto;
				font-size: 22px;
				font-family: 'BrandonText-Bold';
				letter-spacing: -1px;
				margin-top: 18px;
				margin-bottom: 28px;
				justify-content: center;
				//padding-top: 7px
				@include for-snakktablet-portrait-only {
						width: 80%;
						height: auto;
						padding: 5px;
				}
			}
			.sponsor-title:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;  /* vertical alignment of the inline element */
				height: 100%;
			}
		}
	}
	.line {
		height: 2px;
		width: 92%;
		position: absolute;
		background-color: $active-color;
		margin-top: 87px;
		z-index: -1000;
		left:50%;
		@include transformX(-50%);
		
	}
	.partner {
		position: relative;
		margin-top: -5px;
		.title-button {
			padding: 10px 78px;
			//z-index: 10;
			position: absolute;
			top: 11px;
			z-index: 5;
			background-color: white;
		}
		.viewmore-button {				
			padding: 16px 48px;
			left: 50%;
			@include transformX(-50%);
			margin-top: 27px;
		}
		.viewmore-button:after {
			width: 98%;
    		height: 91%;
		}
		.logos-container {
			text-align: center;
			width: 94%;
			margin: 0 auto;
			margin-top: 150px;
			display: inline-block;
			position: relative;
			left: 50%;
			@include transformX(-50%);

			.partner-item {
				 height: 200px;
				// background-color: green;
				width: (100%/5);
				display: inline-block;
				position: relative;
				float: left;
				
			
				img {
					vertical-align: middle;
					display: inline-block;
					@include for-snakktablet-portrait-only {
						width: 80%;
						height: auto;
					}
				}

				.partner-pos {
					height: 150px;
					width: 100%;

					background-color: $active-color;

					opacity: 0.8;
					position: absolute;
					top: 13%;
					display: none;
					span {
						text-align: center;
						font-size: 20px;
						white-space: nowrap;
						color: white;
						//opacity: 1;
						position: absolute;
						top: 50%;
						left: 50%;
						@include transformXY(-50%,-50%);

					}
				}
			}
			.partner-item:hover .partner-pos {
				display: block;
			}
			.partner-item:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;  /* vertical alignment of the inline element */
				height: 100%;
			}
		}

	}
	.supporter {
		position: relative;
		margin-top: 27px;
		.title-button {
			padding: 11px 72px;
    		position: absolute;
    		top: 10px;
    		z-index: 5;
			background-color: white;
		}
		.viewmore-button {
			padding: 16px 48px;
			left: 50%;
			@include transformX(-50%);
			margin-top: 22px;
		}
		.viewmore-button:after {
			width: 98%;
    		height: 91%;
		}
		.logos-container {
			text-align: center;
			width: 94%;
			margin: 0 auto;
			margin-top:  154px;
			display: inline-block;
			position: relative;
			left: 50%;
			@include transformX(-50%);

			.supporter-item {
				 height: 200px;
				// background-color: green;
				width: (100%/5);
				display: inline-block;
				position: relative;
				float: left;
				
			
				img {
					vertical-align: middle;
					display: inline-block;
					@include for-snakktablet-portrait-only {
						width: 80%;
						height: auto;
					}
				}
			}
			.supporter-item:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;  /* vertical alignment of the inline element */
				height: 100%;
			}
		}
	}
}

.news-slider-container {
	margin-top: 100px;
	width: 100%;
	height: 535px;
	overflow-y: hidden;
	.news-slider {
		height: 100%;
		.slide-holder {
			position: relative;
			height: 100%;
			.image-block {
				display: inline-block;
				float: left;
				width: 50%;
				height: 100%;
				img {
					height: 100%;
				}
			}
			.text-block {
				display: inline-block;
				float: left;
				background-image: url(../img/lastestbanner.png);
				width: 50%;
				height: 100%;
				max-height: 100%;
				background-size: 100% 100%;
				.text-item {
					height: 100%;
				}
			}
		}
		.slide-nav {
			position: absolute;
			ol {
				margin: 0px;
				padding: 0px;
				li {
					display: inline-block;
					border-radius: 50%;
					background-color: black;
					width: 9px;
					height: 9px;
				}
				li.active {
					background-color: $yellow-dot-color;
				}
			}
		}
	}
}

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  @include transition(all,500ms,linear);
  @include translate3d(-100px,0px,0px);
  @include translateXY(-100px,0px);	
}

.animation-element.slide-left.in-view {
  opacity: 1;
  @include translate3d(0px,0px,0px);
  @include translateXY(0px,0px);
}


.animation-element.slide-right {
  opacity: 0;
  @include transition(all,500ms,linear);
  @include translate3d(100px,0px,0px);
  @include translateXY(100px,0px);	
}

.animation-element.slide-right.in-view {
  opacity: 1;
  @include translate3d(0px,0px,0px);
  @include translateXY(0px,0px);
}


.animation-element.slide-up {
  opacity: 0;
  @include transition(all,500ms,linear);
  @include translate3d(0px,100px,0px);
  @include translateXY(0px,100px);	
}

.animation-element.slide-up.in-view {
  opacity: 1;
  @include translate3d(0px,0px,0px);
  @include translateXY(0px,0px);
}

.animation-element.zoom-in {
  opacity: 0;
  @include transition(all,700ms,linear);
  @include transformscaleXY(0,0);
}

.animation-element.zoom-in.in-view {
  opacity: 1;
	@include transformscaleXY(1,1);
}


// youtubepopup


.popup_overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:  rgba(0,0,0,.5);
  text-align: center;
  z-index: 100;
  .popup {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 640px;
	max-height: 480px;
	padding: 20px;
	border: 1px solid black;
	background: black;
	color: white;
	vertical-align: middle;
	.popup_close {
		display: block;
		position: absolute;
		top: 1px;
		right: 1px;
		width: 12px;
		height: 12px;
		padding: 8px;
		cursor: pointer;
		background-image: url(../img/close.png);
		background-size: 100% 100%;
		font-weight: bold;
		}


	iframe {
		width: 100%;
		height: 100%;
		}
	}	
}

.popup_overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: '';
}


.header-mobile {
	position: fixed;
	z-index: 10;
	width: 100%;
.nav-mobile-container {
	width: 100%;
	position: relative;
	height: 100px;
	background-color: white;
}
.logo {
	float: left;
		margin: 24px 0 0 0;
		display: inline-block;
		width: 45%;
		text-align: center;	
		img {
			
			max-width: 67%;
			height: auto;
		}
	}

.org {
	float: left;
		display: inline-block;
		margin-top: 30px;
		width: 40%;
		text-align: center;
		img {
			max-width: 67%;
			height: auto;
		}
	}


.navigation-toggle {
	float: left;
  display: inline-block;
  outline: 0;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: relative;
  z-index: 11;
  margin-top: 15px;
  width: 15%;
}
.navigation-toggle .icon-bar {
  background: #2e2230;
  border-radius: 1px;
  display: block;
  height: 2px;
  margin: 9px auto;
  width: 35px;
  transition: all 0.4s;
}
.navigation-toggle .icon-bar.middle {
  /*transform: scale(1);*/
}
.navigation-toggle .icon-bar.last {
  transform: scale(1);
  box-sizing: border-box;
  height: 0;
  background-color: transparent;
  border: 1px solid #2e2230;
}
.navigation-toggle .icon-bar:first-child {
  margin-top: 20px;
}
.navigation-toggle .text {
  display: block;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
}
.navigation-toggle.expanded .icon-bar.first {
  transform: translate3d(0px, 11px, 0px) rotate3d(0, 0, 1, -135deg);
}
.navigation-toggle.expanded .icon-bar.last {
  height: 46px;
  width: 46px;
  transform: translate3d(0px, -34px, 0px);
}
.navigation-toggle.expanded .icon-bar.middle {
  margin-top: 0;
  transform: translate3d(0px, -1px, 0px) rotate3d(0, 0, 1, 135deg);
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
}
.navigation ul {
  margin: 0;
  padding: 0;
  clear: both;
}
.navigation li {
  list-style-type: none;
  font-size: 2em;
  font-weight: 200;
}
.navigation li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 15px 20px;
}
.navigation li a:hover {
  text-decoration: underline;
}
.navigation.primary {
  color: #4f5050;
}
.navigation.primary ul {
  text-align: center;
  border: 0;
  padding-top: 80px;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.94);
  overflow-y: hidden;
}
.navigation.primary li {
  text-transform: uppercase;
  font-size: convert-px(30);
  border: none;
}
.navigation.primary li.active {
	background-color: $active-color;
}
.navigation.primary li.active a {
  color: white;
}
.navigation.primary li a {
  text-decoration: none;
}
.navigation.primary li a:hover {
  color: #000;
  background-color: #e8e8e8;
}

.navigation.primary li.active a:hover {
  color: white;
  background-color: $active-color;
}


}






.mySlider {
	position: relative;
	margin-top: 20px;
	//width: 100%;
	height: 800px;
	overflow: hidden;
	.controler {
		z-index: 5;
		position: absolute;
		top:30%;
		left:50%;
		width: 65%;
		height: 50px;
		@include transformX(-50%);
			.btnprevm, .btnnextm,.btnmoreinfo {
				display: inline-block;
				position: relative;
				float:left;
				width: (100%/3);
				margin: 0 auto;
				text-align: center;
			}
			.btnprevm.inactive {
				display: none;
				}
			.btnnextm.inactive {
				display: none;
			}
			.btnmoreinfo {
				opacity: 0.7;
			}
	}

	ul {
		position: relative;
		margin: 0;
		padding: 0;
		height: 800px;
		list-style: none;		
		li {
			//background: red;
			display: block;
			height: 800px;
			position: relative;
			float: left;			
			margin: 0;
			padding: 0;
			width: (100%/6);
			img {
				position: absolute;
				    margin: auto;
					left: 0;
					right: 0;
					width: 100%;
					height: auto;
			}
			.extra-info {
					//display: none;
					height: 220px;
					width: 275px;
					background: $cream-color;
					border: solid 2px $active-color;
					position: absolute;
					//top: 50%;
					left: 0;
					right: 0;
					margin: auto;
					display: none;
					p{	
						margin-top: 20px;
						font-size: 14px;
					}

					@include transition(all,1s,ease);
				}
			.extra-info.appear {
				display: block;
			}
		}
	}
}





h2 {
	@include for-snakktablet-portrait-only {
		font-size: 40px !important;
	}
	@include for-phone-only {
		font-size: 27px !important;
	}
}

.tablet-brk {
	display: none;
	@include for-snakktablet-portrait-only {
		display: block;
	}
	@include for-phone-only {
		display: block;
	}
}



@import 'style';