
@import 'mixin';

@include for-desktop-up {
    .header-mobile {
        display: none;
    }
    .jury-mobile {
        display: none ;
    }
    .mile-stone-line-mobile {
        display: none !important;
    }
    .archive-item-container-mobile {
        display: none !important;
    }
}
@include for-tablet-and-phone-only {
    .header {
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .mile-stone-line {
        display: none;
    }
    .mile-stone-line-mobile {
        display: block;
    }
    .jury {
        display: none ;
    }
    .jury-mobile {
        display: block;
    }
    .archive-item-container {
        display: none !important;
    }
    .archive-item-container-mobile {
        display: block;
    }
}